<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="main w-full min-h-screen bg-zinc-900">
      <div class="form p-10 text-white">
        <form action="/create" method="post">
          <input
            class="block w-full px-5 py-2 rounded-md outline-none bg-zinc-800"
            type="text"
            name="title"
            placeholder="Title goes here"
          />
          <textarea
            name="details"
            class="block w-full px-5 py-2 mt-2 rounded-md outline-none bg-zinc-800 resize-none"
            placeholder="Write your task detail "
          ></textarea>
          <input
            class="mt-2 bg-blue-600 px-5 py-2"
            type="submit"
            value="Create Task"
          />
        </form>
      </div>
      <div class="tasks flex gap-3 flex-wrap p-10">
        <% if(files.length>0){ %> <% files.forEach(function(val){ %>
        <div class="task min-w-72 px-3 py-4 rounded-md bg-zinc-800">
          <h1 class="text-white text-3xl tracking-tighter"><%= val %></h1>
          <div class="flex w-full justify-between item-center mt-3">
            <!-- routes to http://localhost:3000/files/issueinnode.txt -->
            <a class="text-blue-500 inline-block" href="/files/<%= val %>"
              >Read more</a
            >

            <!-- val here tells the file name -->
            <a class="text-blue-500" class href="/edit/<%= val %>"
              >Edit Filename</a
            >
          </div>
        </div>
        <% }) %> <% }else{ %>
        <h3>No tasks yet.</h3>
        <% } %>
      </div>
    </div>
  </body>
</html>
